repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace